<!DOCTYPE html>
<html lang="en" class="no-js no-jr">
    <head>
       <title>{% block title %}{% endblock %}</title>
       <meta charset="utf-8">
        <!-- custom stuff for sils-annotator -->
        <link rel="stylesheet" href="{{ url_for('static', filename='{0}/css/annotator.css'.format(dir_prefix)) }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='{0}/css/main.old.css'.format(dir_prefix)) if request.args.get('old') else url_for('static', filename='{0}/css/main.css'.format(dir_prefix)) }}" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" media="screen">
           
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <!--<script type="text/javascript" src="{{ url_for('static', filename='{0}/js/jquery-1.9.1.js') }}"></script>-->
        <script type="text/javascript" src="{{ url_for('static', filename='{0}/js/underscore.js'.format(dir_prefix)) }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='{0}/js/jquery.scrollTo-1.4.3.1-min.js'.format(dir_prefix)) }}"></script>
     

       <script type="text/javascript"> 
          var apiRoot = "{{ g.api_root }}";
          var dbName = "{{ g.db.name }}";
          var interfaceName = "{{ dir_prefix }}";
       </script>
     
     
        <!-- stuff for the off-the-shelf annotator.js -->
        <script type="text/javascript" src="{{ url_for('static', filename='{0}/js/annotator/preamble.js'.format(dir_prefix)) }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='{0}/js/annotator/class.js'.format(dir_prefix)) }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='{0}/js/annotator/console.js'.format(dir_prefix)) }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='{0}/js/annotator/extensions.js'.format(dir_prefix)) }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='{0}/js/annotator/range.js'.format(dir_prefix)) }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='{0}/js/annotator/annotator.js'.format(dir_prefix)) }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='{0}/js/annotator/plugin/store.js'.format(dir_prefix)) }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='{0}/js/annotator/widget.js'.format(dir_prefix)) }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='{0}/js/annotator/editor.js'.format(dir_prefix)) }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='{0}/js/annotator/viewer.js'.format(dir_prefix)) }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='{0}/js/annotator/notification.js'.format(dir_prefix)) }}"></script>
        
        <script type="text/javascript" src="{{ url_for('static', filename='{0}/js/annotator/plugin/scrollbar.old.js'.format(dir_prefix)) if request.args.get('old') else url_for('static', filename='{0}/js/annotator/plugin/scrollbar.js'.format(dir_prefix)) }}"></script>        
        <script type="text/javascript" src="{{ url_for('static', filename='{0}/js/silsannotate.js'.format(dir_prefix)) }}"></script>        
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>